@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 300px; }

.header {
  width: 100%;
  height: 120px;
  background-color: #1c262d;
  background-color: rgba(28, 38, 45, 0.9);
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0; }

.container, .container-portfolio {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.logo {
  width: 180px;
  height: auto; }

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: #f9f9f9; }

.link a {
  color: #f9f9f9;
  transition: all .4s ease; }
  .link a:hover {
    color: #e24501; }

.red {
  width: 30px;
  height: auto;
  margin: 15px; }

.hero {
  background-image: url("../img/hero2.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200vh;
  position: relative;
  z-index: -1; }

.servicios {
  position: absolute;
  left: 0;
  bottom: -15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .servicios h2 {
    font-size: 4rem;
    font-weight: 400;
    margin: 50px 0; }
    .servicios h2 span {
      font-weight: 700; }

.servicios-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.servicios-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  width: 350px;
  height: 350px;
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.5);
  padding: 40px;
  text-align: center;
  gap: 20px; }
  .servicios-card img {
    width: 150px;
    height: auto; }
  .servicios-card h3 {
    font-size: 3rem; }

.container-portfolio {
  margin-top: 25%;
  align-items: flex-start;
  gap: 50px; }

.filaIzq {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 45%; }

.filaDer {
  width: 55%; }

.portfolio-card {
  width: 100%;
  margin: 30px 0;
  cursor: pointer; }
  .portfolio-card img {
    width: 100%;
    height: auto; }
  .portfolio-card h4 {
    text-align: center;
    font-size: 2rem;
    font-weight: 400; }
