.header{
    width: 100%;
    height: 120px;
    background-color: $tertiaryColor;
    background-color: rgba($color: $tertiaryColor, $alpha: 0.9);
    @include flex(center, center, center);
    position: fixed;
    top: 0;
    left: 0;
}

.container{
    width: 100%;
    max-width: 1200px;
    @include flex(row, space-between, center);
}

.logo{
    width: 180px;
    height: auto;
}

.links{
    @include flex(row, center, center);
    gap: 40px;
    list-style: none;
    @include texto(2rem, $light, $bgColor);
}

.link{
    a{
        color: $bgColor;
        transition: all .4s ease;

        &:hover{
            color: $mainColor;
        }
    }
}

.red{
    width: 30px;
    height: auto;
    margin: 15px;
}